<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        .success {
            color: green;
            font-weight: bold;
        }
        .error {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <!-- Navigation links -->
    <div class="container mt-4">
        <div class="bg-primary">
            <nav class="navbar navbar-expand-lg bg-dark p-2">
                <a class="navbar-brand text-white" href="/">Node MySQL Login</a>
                <ul class="navbar-nav ms-auto"> <!-- This will align the navbar items to the right -->
                    <li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/register">Register</a></li>
                    <!-- Show the Logout button only if the user is logged in -->
                    {{#if user}}
                        <li class="nav-item"><a class="nav-link text-white" href="/auth/logout">Logout</a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>

        <h1 class="text-center">Welcome to Your Profile</h1>

        <div>

        </div>
    </div>

</body>
</html>
